.container
  .row
    .col-md-4
      %h3 Account Summary 
      %p
        Logged in as 
        %strong=@account 
      %p
        Current balance
        %strong=@balance
      %form.form-horizontal{method: :post, action: "/#{@account}/send"}
        %legend Create a new transaction
        .form-group
          %label.control-label.col-sm-2 To
          .col-sm-10
            %input.form-control{:placeholder => "Franz", :type => "text", :name => "receiver", :required => ""}/
        .form-group
          %label.control-label.col-sm-2 Amount
          .col-sm-10
            %input.form-control{:placeholder => "10", :type => "number", :name => "amount", :required => ""}/
        .form-group
          %label.control-label.col-sm-2 Message
          .col-sm-10
            %input.form-control{:placeholder => "Thanks for the coffee!", :type => "text", :name => "message", :required => ""}/
        .form-group
          %input.btn.btn-primary.btn-block{type: :submit, value: "Send"}
