#masterhead
  .inner
    .container
      .row
        .col-md-7
          %h1
            KafkaBank
          %p
            The simple way to send money to anyone
          %p
            Banking powered by Apache Kafka
        .col-md-2
.container
  %section
    .row
      .col-md-4
        %h3 Account Summary 
        %p
          Logged in as 
          =@account 
        %p
          Create a new transaction
          %form{method: :post, action: "/#{@account}/send"}
            .form-group
              %input.form-control{:placeholder => "Franz", :type => "text", :name => "receiver", :required => ""}/
            .form-group
              %input.form-control{:placeholder => "10", :type => "number", :name => "amount", :required => ""}/
            .form-group
              %input.form-control{:placeholder => "Thanks for the coffee!", :type => "text", :name => "message", :required => ""}/
            .form-group
              %input.btn.btn-primary.btn-block{type: :submit, value: "Send"}
        %h4
          Balance
          %p
            My current balance: 
            =@balance
.container
