#masterhead
  .inner
    .container
      .row
        .col-md-7
          %h1
            KafkaBank
            %small{style:"font-size:40%"}
              The simple way to send money to anyone

        .col-md-2
.container
  %section
    .row
      .col-md-4
        %h3 Account Summary 
        %p
          Logged in as 
          %strong=@account 
        %p
          My current balance: 
          %strong=@balance
        %form.form-horizontal{method: :post, action: "/#{@account}/send"}
          %legend Create a new transaction
          .form-group
            %label To
            %input.form-control{:placeholder => "Franz", :type => "text", :name => "receiver", :required => ""}/
          .form-group
            %label Amount
            %input.form-control{:placeholder => "10", :type => "number", :name => "amount", :required => ""}/
          .form-group
            %label Message
            %input.form-control{:placeholder => "Thanks for the coffee!", :type => "text", :name => "message", :required => ""}/
          .form-group
            %input.btn.btn-primary.btn-block{type: :submit, value: "Send"}

        %p
          Banking powered by Apache Kafka
.container
