#masterhead
  .inner
    .container
      .row
        .col-md-7
          %h1
            KafkaBank
          %p
            The simple way to send money to anyone
          %p
            Banking powered by Apache Kafka
        .col-md-2
          %img{:src => '/images/elephant_256.png', :alt => 'KafkaBank' }
.container
  %section
    .row
      .col-md-4
        %h3 Login
        %p
          Type your account name to login
          %form{method: :post, action: ""}
            .form-group
              %input.form-control{:placeholder => "Brod", :type => "text", :account => "account", :required => ""}/
            .form-group
              %input.btn.btn-primary.btn-block{type: :submit, value: "Login"}

      .col-md-4
        %h3 Reliability
        %p
          Super reliable transactions
.container
