.container
  .row
    .col-md-4
      %h3 Login
      %p Type your account name to login
      %form{method: :post, action: ""}
        .form-group
          %input.form-control{:placeholder => "Brod", :type => "text", :name => "account", :required => ""}/
        .form-group
          %input.btn.btn-primary.btn-block{type: :submit, value: "Login"}
